<head>
<style>
table, th, td {
   border: 1px solid black;
  border-collapse: collapse;
}
</style>
<h1>Liste des etudiants</h1>
</head>
{% if response is not empty %}
<table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Classroom</th>
                <th>Action</th>
            </tr>
        </thead>
<tbody>
{% for i in response %}
<tr>
					<td>{{ i.id }}</td></br>
					<td>{{i.name}}</td></br>
          <td>{{ i.email }}</td></br>
					<td>{{i.age}}</td></br>
					<td>{{ i.Classroom }}</td></br>
          <td> 
          <a href="{{ path('addF') }}" class="button">add</a>
          <a href="{{ path('remove', {'id':i.id}) }}" class="button">remove</a>
          <a href="{{ path('update' , {'id':i.id}) }}" class="button">update</a>
          </td>
</tr>
{%endfor%}
</tbody>
</table>
{%endif%}